@charset "utf-8";
/* CSS Document */




body{
	background-image: url("git images/Titanfall2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


/* Index.html */
.Mor-di{
	width: 500px;
	border-collapse: collapse;
	color: white;
	background-color: darkgray;
}

tr, th, td{
	border: solid white;
	padding: 8px;
}

#overskrift2{
	align-self: center;
}
.EinTabbel {
	color: black;
	background-color: darkgray ;
	text-align: center;
	float: right;
	display: grid;
	padding: 50px;
	grid-template-columns: auto auto auto;
	border: 5px;
	border-style:solid;
	border-color: #B508D3;
}




/* dropdown menu */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #84097B;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #84097B;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* dropdown menu */




/* menu */
a:hover{
	background-color: purple;
}
a{
	color:white;
}
.table:nth-child(even){
	background-color: blue;
	margin-right: 1000px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* menu */

#overskrift1{
	color: black ;
	background-color: darkgray ;
}



#Ignacio{
	border-top-style: hidden;
	float: left;
	height: 500px;
	border: thick;
	padding: 10px;
	background-color: darkgray;
	border: 5px;
	border-style: solid;
	border-color: #B508D3;
	
}

footer {
	background-color: #353533;
	width: 100%;
	height: 200px;
	text-align: center;
	color: white;
	display: inline-block;
	vertical-align: bottom;
}




/* Kompetansemål i forskjellige fag og kontakter*/


.information, .contact{
	color: black;
	background-color: darkgray ;
	margin: 20px 50px ;
	padding: 10px;
	float: right;
	}


.produksjon{
	background-color: darkgray;
	color: black;
	margin: 20px 50px;
	padding:10px;
	float:  left;
	}
	
.historiefortelling{
	background-color: darkgray;
	color: black;
	margin: 20px 50px;
	padding:10px;
	float:  left;
	}



.Teknologi{
	background-color: darkgray;
	color: black;
	margin: 20px 50px;
	padding:10px;
	float:  left;
	}


.Programmering{
		background-color: darkgray;
		color: black;
		margin: 20px 50px;
		padding:10px;
		float: left;
}
/* Kompetansemål i forskjellige fag */







/* Attack on Titan */
#image1{
	height: 300px;
	border: 5px;
	border-style: solid;
	border-color: #B508D3;
	float: left;
	background-color: darkgray;
	box-shadow: 20px 20px 10px purple;
	margin: 40px
}

#image2{
	height: 300px;
	border: 5px;
	border-style: solid;
	border-color: cyan;
	float: right;
	background-color: darkgray;
	box-shadow: 20px 20px 10px cyan;
	margin: 40px
}

#image3{
	height: 300px;
	border: 5px;
	border-style: solid;
	border-color: blue;
	float: left;
	background-color: darkgray;
	box-shadow: 20px 20px 10px blue;
	margin: 40px
}

#image4{
	height: 300px;
	border: 5px;
	border-style: solid;
	border-color: yellow;
	float: right;
	background-color: darkgray;
	box-shadow: 20px 20px 10px yellow;
	margin: 40px
}

#image5{
	height: 300px;
	border: 5px;
	border-style: solid;
	border-color: red;
	float: left;
	background-color: darkgray;
	box-shadow: 20px 20px 10px red;
	margin: 40px
}

#image6{
	height: 300px;
	border: 5px;
	border-style: solid;
	border-color: green;
	float: right;
	background-color: darkgray;
	box-shadow: 20px 20px 10px green;
	margin: 40px
}

/* Attack on Titan */


/* fagdag oppgaver */

.fagdag{
	background-color: darkgray;
	margin: 20px 50px;
	padding-right: 170px;
	padding-left: 20px;
	float: left;
}

.kontaktskjema1{
	with: 40%;
}

.kontaktskjema2{
	with: 40%;
}


/* fagdag oppgaver */




@media screen and(max-width: 600px){
	kol14{
		grid-column: span 12;
	}
	.box {
		background-color: blue !important;}

