@charset "utf-8";
/* CSS Document */




body{
	background-image: url("git images/Titanfall2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.Mor-di{
	width: 500px;
}


.EinTabbel{
	color: black;
	background-color: darkgray ;
	margin: 20px 50px ;
	float: right;
	display: grid;
	padding: 50px;
	grid-template-columns: 200px 100px;
	border:20px 20px 20px #84097B;
	grid-template-columns: auto auto auto;
	border: 5px;
	border-style:solid;
	border-color: #B508D3;
}

.container{
	padding: 30px;
	background-color: blue;
	margin-right: 650px;
	border: 5px outset black;
}

a:hover{
	background-color: purple;
}
a{
	color:white;
}
.table:nth-child(even){
	background-color: blue;
	margin-right: 1000px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


#overskrift1{
	color: black ;
	background-color: darkgray ;
}

.information, .contact{
	color: black;
	background-color: darkgray ;
	margin: 20px 50px ;
	padding: 10px;
	float: right;
	}

#Ignacio{
	border-top-style: hidden;
	float: left;
	height: 600px;
	border: thick;
	padding: 10px;
	background-color: darkgray;
	border: 5px;
	border-style: solid;
	border-color: #B508D3;
	
}

footer {
	background-color: #353533;
	width: 100%;
	height: 200px;
	text-align: center;
	color: white;
	display: inline-block;
	vertical-align: bottom;
}


.produksjon{
	background-color: darkgray;
	color: black;
	margin: 20px 50px;
	padding:10px;
	float:  left;
	}
	
	.historiefortelling{
	background-color: darkgray;
	color: black;
	margin: 20px 50px;
	padding:10px;
	float:  left;
	}



.Teknologi{
	background-color: darkgray;
	color: black;
	margin: 20px 50px;
	padding:10px;
	float:  left;
	}


.Programmering{
		background-color: darkgray;
		color: black;
		margin: 20px 50px;
		padding:10px;
		float: left;
}

#image1{
	height: 300px;
	border: 5px;
	border-style: solid;
	border-color: #B508D3;
	float: left;
	background-color: darkgray;
	box-shadow: 20px 20px 10px purple;
	margin: 40px
}

#image2{
	height: 300px;
	border: 5px;
	border-style: solid;
	border-color: #B508D3;
	float: right;
	background-color: darkgray;
	box-shadow: 20px 20px 10px purple;
	margin: 40px
}

#image3{
	height: 300px;
	border: 5px;
	border-style: solid;
	border-color: #B508D3;
	float: left;
	background-color: darkgray;
	box-shadow: 20px 20px 10px purple;
	margin: 40px
}

#image4{
	height: 300px;
	border: 5px;
	border-style: solid;
	border-color: #B508D3;
	float: right;
	background-color: darkgray;
	box-shadow: 20px 20px 10px purple;
	margin: 40px
}

#image5{
	height: 300px;
	border: 5px;
	border-style: solid;
	border-color: #B508D3;
	float: left;
	background-color: darkgray;
	box-shadow: 20px 20px 10px purple;
	margin: 40px
}

#image6{
	height: 300px;
	border: 5px;
	border-style: solid;
	border-color: #B508D3;
	float: right;
	background-color: darkgray;
	box-shadow: 20px 20px 10px purple;
	margin: 40px
}

@media screen and(max-width: 600px){
	kol14{
		grid-column: span 12;
	}
	.box {
		background-color: blue !important;}
}
