@charset "utf-8";
/* CSS Document */
body{
	background-color: purple;
}
.container{
	padding: 30px;
	background-color: blue;
	margin-right: 650px;
	border: 5px outset black;
}

#yes{
	filter: grayscale(50%);
	box-shadow: 20px 10px 15px;
}

#BRUNOST{
	filter: grayscale(30%) drop-shadow(25%);
	box-shadow: 20px 10px 15px;
}
a:hover{
	background-color: green;
}
.link{
	text-align: right;
}
a{
	color:white;
}
.table:nth-child(even){
	background-color: red;
	margin-right: 1000px;
}
